@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
  --very-dark-gray: hsl(0, 0%, 17%);
  --dark-gray: hsl(0, 0%, 59%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  outline: 1px solid red;
} */

@layer utilities {
  @variants responsive {
    .h-68 {
      height: 17.5rem;
    }

    .h-76 {
      height: 19rem;
    }

    .h-82 {
      height: 21rem;
    }

    .top-43 {
      top: 10.5rem;
    }

    .top-46 {
      top: 11.5rem;
    }

    .top-50 {
      top: 12.5rem;
    }

    .text-xxs {
      font-size: 0.625rem;
      line-height: 0.75rem;
    }
  }
}

.pattern {
  background-image: url("./images/pattern-bg.png");
  background-position: center;
  background-size: cover;
}

.w-custom {
  width: calc(100% - 3rem);
}

.results-width {
  max-width: 69.375rem;
}
